{{ partial "header.html" . }}
<header class='sea-display sea-animate-opacity sea-parallax' style='overflow:hidden;background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ (.Resources.GetMatch (printf "%s*" .Params.banner)).RelPermalink }})' id='entete'>
    <div class='sea-container sea-center sea-display-center'>
        <div class='sea-text-white sea-caps' style='font-size:1.5rem'>Discover</div>
        <div id='display-title' class='sea-text-white sea-cursive'>{{ .LinkTitle | default .Title }}</div>
        <div class='sea-text-white sea-serif italic sea-narrow' style='font-size:1.5rem'>{{ .Description }}</div>
    </div>
</header>
{{ partial "nav.html" . }}
<main class='sea-white sea-animate-opacity' style='min-height:69.25vh'>
    <div class='sea-bar sea-light'>
        <div class='sea-center sea-padding sea-grid'>
            <h1 style='font-size:2rem;margin:0 0 1rem' class='sea-text-dark'>{{delimit .Params.categories " "}}</h1>
            <div class='sea-caps' style='font-size:0.8rem'>{{ delimit .Params.tags "<span class='sea-text-accent' style='padding:0 1rem'>/</span>" }}</div>
        </div>
    </div>
    <article id='single' class='sea-row-pad sea-padding sea-grid'>
        <div class='sea-col s4 sea-sticky' style='z-index:1;top:6rem'>
            {{ .Content }}
            {{ if isset .Params "authors" }}
            <h3 style='font-size:1rem'>Article Writen By</h3>
            <hr style='margin-bottom:0'>
            <p>{{ delimit .Params.authors "</br>" }}</p>
            {{ end }}
            {{ if isset .Params "address" }}
            <h3>Address</h3>
            <hr style='margin-bottom:0'>
            <p>{{ delimit .Params.address "</br>" }}</p>
            {{ end }}
        </div>
        <div class='sea-col s8'>
            {{ with .Resources.ByType "image" }}{{ range $index, $element := . }}
            <img id='post-img-{{$index}}'src='{{ $element.Permalink }}' style='width:100%;margin:16px 0'>
            {{ end }}{{ end }}
        </div>
    </article>
</main>
{{ partial "footer.html" . }}
