:root {
    font-size:      16px;
    --black:        #25222c;
    --dark:         #3d3847;
    --medium:       rgb(95, 98, 99);
    --light:        #f6f6f6;
    --borders:      rgb(232,232,232);
    --accent:       #ba6874;
    --highlight:    #0099cc;
    --serif:        "PT Serif";
    --sans:         "Montserrat";
    --cursive:      "Mr Dafoe";
    --nav:          6rem;
}

/* ---------- Color ---------------------------------------------------------- */

.sea-black,.sea-hover-black:hover{color:var(--light);background-color:var(--black)}
.sea-text-black,.sea-hover-text-black:hover{color:var(--black)!important}
.sea-border-black,.sea-hover-border-black:hover{border-color:var(--black)!important}

.sea-dark,.sea-hover-dark:hover{color:var(--light);background-color:var(--dark)}
.sea-text-dark,.sea-hover-text-dark:hover{color:var(--dark)!important}
.sea-border-dark,.sea-hover-border-dark:hover{border-color:var(--dark)!important}

.sea-medium,.sea-hover-medium:hover{background-color:var(--medium)}
.sea-text-medium,.sea-hover-text-medium:hover{color:var(--medium)!important}
.sea-border-medium,.sea-hover-border-medium:hover{border-color:var(--medium)!important}

.sea-light,.sea-hover-light:hover{background-color:var(--light)}
.sea-text-light,.sea-hover-text-light:hover{color:var(--light)!important}
.sea-border-light,.sea-hover-border-light:hover{border-color:var(--light)!important}

.sea-highlight,.sea-hover-highlight:hover{background-color:var(--highlight)}
.sea-text-highlight,.sea-hover-text-highlight:hover{color:var(--highlight)!important}
.sea-border-highlight,.sea-hover-border-highlight:hover{border-color:var(--highlight)!important}

.sea-accent,.sea-hover-accent:hover{color:var(--light);background-color:var(--accent)}
.sea-text-accent,.sea-hover-text-accent:hover{color:var(--accent)!important}
.sea-border-accent,.sea-hover-border-accent:hover{border-color:var(--accent)!important}

.sea-white,.sea-hover-white:hover{color:var(--dark);background-color:white}
.sea-text-white,.sea-hover-text-white:hover{color:white!important}
.sea-border-white,.sea-hover-border-white:hover{border-color:white!important}

.sea-border-transparent{border-color:transparent!important}

/* ---------- Standardize ---------------------------------------------------- */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;height:100%}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
a,a:link,a:hover,a:active,a:visited{text-decoration:none;color:inherit}
img{vertical-align:middle}
/* ---------- Semantics ------------------------------------------------------ */

::selection{background:var(--accent);color:var(--light)}

body {
    font-family: var(--sans), Arial, sans-serif;
    font-weight: 300;
    background-color: white;
    margin:0;padding:0;
    color: var(--medium);
}

p {
    line-height: 1.75;
    margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
    font-family: var(--serif), serif;
    margin-top: 3rem;
}

h1{font-weight:700;font-size:3.5rem;margin-bottom:3rem}
h2{font-weight:600;font-size:2rem}
h3{font-weight:600;font-size:1.5rem}
h4{font-weight:500;font-size:1.15rem}
h5{font-weight:500;font-size:1rem}
h6{font-weight:400;font-size:1rem}

button {
    color: var(--dark);
    background:transparent;
    border: solid 1px var(--dark);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
    outline: 0;
}

button:hover {
    color: var(--accent);
    border-color: var(--accent);
}

hr {
    border: none;
    border-top: 1px solid var(--borders);
    margin: 0 auto 2rem;
    width: 100%;
}

article{margin-bottom:3rem}

/* ---------- Responsive ----------------------------------------------------- */

.sea-row:after,.sea-row:before,
.sea-row-pad:before,.sea-row-pad:after,
.sea-bar:before,.sea-bar:after {
    content:"";display:table;clear:both;
}

.sea-rest{overflow:hidden}
.sea-hide{display:none}

.sea-col{float:left}

.sea-col.s1,
.sea-col.s2,
.sea-col.s3,
.sea-col.s4,
.sea-col.s5,
.sea-col.s6,
.sea-col.s7,
.sea-col.s8,
.sea-col.s9,
.sea-col.s10,
.sea-col.s11,
.sea-col.s12 {
    width: 100%;
}

.sea-row-pad .s1,
.sea-row-pad .s2,
.sea-row-pad .s3,
.sea-row-pad .s4,
.sea-row-pad .s5,
.sea-row-pad .s6,
.sea-row-pad .s7,
.sea-row-pad .s8,
.sea-row-pad .s9,
.sea-row-pad .s10,
.sea-row-pad .s11,
.sea-row-pad .s12 {
    padding: 1rem;
    width: 100%;
}

@media(min-width:720px){
    .sea-col.s1{width:  8.33333%}
    .sea-col.s2{width: 16.66666%}
    .sea-col.s3{width: 24.99999%}
    .sea-col.s4{width: 49.99999%}
    .sea-col.s5{width: 41.66666%}
    .sea-col.s6{width: 49.99999%}
    .sea-col.s7{width: 58.33333%}
    .sea-col.s8{width: 66.66666%}
    .sea-col.s9{width: 74.99999%}
    .sea-col.s10{width:83.33333%}
    .sea-col.s11{width:91.66666%}
    .sea-col.s12{width:99.99999%}
    .sea-row-pad .s1,
    .sea-row-pad .s2,
    .sea-row-pad .s3,
    .sea-row-pad .s4,
    .sea-row-pad .s5,
    .sea-row-pad .s6,
    .sea-row-pad .s7,
    .sea-row-pad .s8,
    .sea-row-pad .s9,
    .sea-row-pad .s10,
    .sea-row-pad .s11,
    .sea-row-pad .s12 { width:100% }

    #grid .sea-row-pad .sea-col.s4{width: 49.99999%}
    #single .sea-row-pad .sea-col.s4{width: 33.33333%}
    #single .sea-row-pad .sea-col.s8{width: 66.66666%}
}

@media(min-width:1000px){
    .sea-col.s1{width:  8.33333%}
    .sea-col.s2{width: 16.66666%}
    .sea-col.s3{width: 24.99999%}
    .sea-col.s4{width: 33.33333%}
    .sea-col.s5{width: 41.66666%}
    .sea-col.s6{width: 49.99999%}
    .sea-col.s7{width: 58.33333%}
    .sea-col.s8{width: 66.66666%}
    .sea-col.s9{width: 74.99999%}
    .sea-col.s10{width:83.33333%}
    .sea-col.s11{width:91.66666%}
    .sea-col.s12{width:99.99999%}

    #grid .sea-row-pad .sea-col.s4{width: 33.33333%}
}

@media(min-width:1000px){.sea-hide-large{display:none!important}}
@media(min-width:720px) and (max-width:999px){.sea-hide-medium{display:none!important}}
@media(max-width:719px){.sea-hide-small{display:none!important}}

/* ---------- Text ----------------------------------------------------------- */

.sea-caps{letter-spacing:1px;text-transform:uppercase}
.sea-left{text-align:left}
.sea-center{text-align:center}
.sea-right{text-align:right}
.sea-text-shadow{text-shadow:0 0 20px rgba(0,0,0,0.25)}

.sea-serif{font-family: var(--serif), serif}
.sea-sans{font-family:var(--sans), sans}
.sea-cursive{font-family:var(--cursive), sans}

.italic{font-style:italic}
.bold{font-weight:600}
.normal{font-weight:300}

.sea-hover-text-bold:hover{font-weight:600}

/* ---------- Spacing -------------------------------------------------------- */

.sea-after{margin-bottom:3rem}

.sea-table{display:table}
.sea-table-row{display:table-row}
.sea-cell{display:table-cell}
.sea-cell-top{display:table-cell;vertical-align:top}
.sea-cell-middle{display:table-cell;vertical-align:middle}
.sea-cell-bottom{display:table-cell;vertical-align:bottom}

.sea-narrow {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.sea-content {
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sea-grid {
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
    padding-left:1rem;
    padding-right:1rem;
}

@media(min-width:720px) {
    .sea-content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.sea-padding{padding-top:3rem;padding-bottom:3rem}
.sea-pad{padding-top:1rem;padding-bottom:1rem}

.sea-container{padding:3rem}
.sea-box{padding:1rem}

.sea-display{position:relative}
.sea-display-center {
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
.sea-display-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform:translate(-50%,0);
}
.sea-display-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform:translate(-50%,0);
}

.sea-full{height:100%;width:100%}

/* ---------- Elements ------------------------------------------------------- */

.sea-menu-horizontal{list-style-type:none}
.sea-menu-horizontal ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 0.5rem;
}

.sea-border{border:1px solid var(--borders)}
.sea-border-right{box-shadow: 2px 0 48px -8px var(--borders)}
.sea-border-left{border-left: 1px solid var(--borders)}
.sea-border-top{border-top: 1px solid var(--borders)}
.sea-border-bottom{border-bottom: 1px solid var(--borders)}

.sea-bar{width:100%}
.sea-bar .sea-bar-item{float:left;padding:2rem;display:block}
.sea-bar .sea-bar-item-right{float:right;display:block}
.sea-bar .sea-bar-item-center{display:inline-block;width:auto}

.sea-shadow{box-shadow:0 4px 40px rgba(0,0,0,0.25)}

.sea-corner{border-radius:2px}

.sea-sticky{z-index:10;position:sticky;top:0}

.sea-hrdouble {
    border: none;
    height:3px;
    border-top: 1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
    margin: 1rem;
    width: calc(100% - 2rem);
}

.sea-outline-inner{outline:solid white 1px;outline-offset:-10px}

.sea-parallax {
    background: no-repeat fixed center center / cover;
}
/* ---------- Animation ------------------------------------------------------ */

.sea-animate-opacity{animation:opac 0.8s;animation-fill-mode:backwards}@keyframes opac{from{opacity:0}to{opacity:1}}
.sea-animate-left{position:relative;animation:animateleft 0.4s;animation-fill-mode:backwards}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sea-animate-right{position:relative;animation:animateright 0.4s;animation-fill-mode:backwards}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sea-animate-top{position:relative;animation:animatetop 0.4s;animation-fill-mode:backwards}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sea-animate-bottom{position:relative;animation:animatebottom 0.4s;animation-fill-mode:backwards}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

.sea-hoverable .sea-overlay{transition:opacity 200ms;opacity:0}
.sea-hoverable .sea-overtext{transition:opacity 200ms;opacity:0}
.sea-hoverable .sea-overimg{transition:filter 200ms}
.sea-hoverable:hover .sea-overlay{opacity:0.75}
.sea-hoverable:hover .sea-overtext{opacity:1}
.sea-hoverable:hover .sea-overimg{filter:brightness(0.5) grayscale(1)}

@media(max-width:719px) {
    .sea-hoverable .sea-overtext { opacity:1 }
    .sea-hoverable .sea-overimg { filter:brightness(0.5) }
    .sea-hoverable:hover .sea-overlay { opacity:0 }
    .sea-hoverable:hover .sea-overimg { filter:brightness(0.5) grayscale(0) }
}

.sea-delay-0_5{animation-delay:100ms}
.sea-delay-1{animation-delay:200ms}
.sea-delay-1_5{animation-delay:300ms}
.sea-delay-2{animation-delay:400ms}
.sea-delay-2_5{animation-delay:500ms}
.sea-delay-3{animation-delay:600ms}
.sea-delay-3_5{animation-delay:700ms}
.sea-delay-4{animation-delay:800ms}
.sea-delay-4_5{animation-delay:900ms}
.sea-delay-5{animation-delay:1000ms}
.sea-delay-5_5{animation-delay:1100ms}

/* ---------- Unique --------------------------------------------------------- */

#entete{object-fit:cover;height:calc(100vh - var(--nav));width:100vw}
#nav{height:var(--nav);border-top:solid 1px var(--borders)}
#nav .sea-bar-item{height:var(--nav);display:flex;justify-content:center;align-content:center;flex-direction:column}
#nav .sea-menu-horizontal ul {
    padding: calc((var(--nav) - 1rem) / 2 + 0px) 0.5rem calc((var(--nav) - 1rem) / 2 - 4px);
}

@media(max-width:999px){
    article .sea-sticky{position:static;top:0}
}

#nav-logo { transition: transform 600ms }
#nav-main:hover #nav-logo {
    transform: rotate(720deg);
}

.sea-gallery{display:none}
.show{display:block!important}

#history,
#whoami {
    display:none;
}

.flickity-page-dots {
    bottom: 1rem;
}

.flickity-page-dots .dot {
    width: 1rem;
    height: 1rem;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-button {
    background: transparent;
}

.flickity-button:hover {
    background: #ba687490;
}

.flickity-prev-next-button {
    height: 600px;
    width: 4px;
    border-radius: 4px;
    margin: 0;
}

.flickity-button-icon {
    fill: white;
}

.flickity-prev-next-button.previous{ left:0; }
.flickity-prev-next-button.next{ right:0; }

article p a { color: var(--accent)!important }

@media(max-width:719px) {
    #footer-logo {
        float:none;
        display:inline-block;
        width:100%;
        text-align: center;
        padding-bottom: 3rem;
    }
}

#display-title { font-size: 7rem }
@media(max-width:719px) {
    #display-title { font-size: 4rem }
}
