<section id='about'>
    <div class='sea-light'>
        <div class='sea-content sea-container'>
            <h2 class='sea-center sea-sans sea-caps' style='margin:3rem;letter-spacing:4px'>About</h2>
            <p class='sea-text-medium sea-center' style='margin:3rem 0;font-size:1.25rem'>Pastel Cravings combine my two favourite things in the world: the palette color of pastel and food. Those two together explain why I always dream about sugar and donuts. And ramen.</p>
        </div>
    </div>
    <div class='sea-content sea-container'>
        <p class='sea-center sea-text-medium sea-caps bold'>
            <span id='about-btn-history' onclick='filterAbout("history")' class='sea-hover-text-accent sea-about-btn' style='cursor:pointer;margin:0 2rem'>History</span>
            <span id='about-btn-whoami' onclick='filterAbout("whoami")' class='sea-hover-text-accent sea-about-btn' style='cursor:pointer;margin:0 2rem'>Who am I</span>
        </p>
        <hr>
        <div id='history' class='sea-animate-left sea-abouts' style='text-align:justify;margin:3rem 0'>
            <p>Trang started as an Instagrammer and post about the food until she realized she also wanted to write about it. Not in a classical fancy kind of way. She was tired of reviews restrictions and the pressure of writing to please the press. When all she ever wants is to write for her and the public. That's how she created this personal food blog where she can express her feelings about the meals without any fear.</p>
            <p>All the sponsors or collaborations on this blog know about her transparency policy. They accept to be reviewed as it is.</p>
        </div>
        <div id='whoami' class='sea-animate-right sea-abouts' style='text-align:justify;margin:3rem 0'>
            <p>Bachelor of Psychology, specialization in brain disorders and brain imagery. I now become a full-time research associate for the government and work on a variety of cognitive neurosciences project.</p>
            <p>Owns also a book blog at Bookidote.com where I can share my passion of reading. OH you can also find movie and comics reviews!</p>
            <p>I can eat ramen every day. A bit obssessed of going to the gym so I can et even more ramen (MUAHAH).</p>
        </div>
        <hr>
    </div>
</section>
<script>
function filterAbout(c) {
    var x, i, y, j;
    x = document.getElementsByClassName("sea-abouts");
    y = document.getElementsByClassName("sea-about-btn");
    for (j = 0; j < y.length; j++) {
        y[j].classList.remove("sea-text-dark");
    }
    document.getElementById("about-btn-"+c).classList.add("sea-text-dark");
    for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
    }
    document.getElementById(c).classList.add("show");
}

// Show filtered elements
function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
        }
    }}
// Hide elements that are not selected
function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
    }
    element.className = arr1.join(" ");
}
filterAbout("history")
</script>
