<footer style='margin-top:3rem'>
    <div class='sea-row-pad sea-padding sea-light'>
        <div class='sea-grid'>
            <div class='sea-col sea-center s12' style='font-size:2rem'>
                <a class='sea-text-dark sea-hover-text-accent' href='{{ .Site.Params.social.facebook }}'>
                    <i class='fab fa-facebook' style='margin:0 2rem'></i>
                </a>
                <a class='sea-text-dark sea-hover-text-accent' href='mailto:{{ .Site.Params.social.email }}'>
                    <i class='fa fa-envelope' style='margin:0 2rem'></i>
                </a>
                <a class='sea-text-dark sea-hover-text-accent' href='{{ .Site.Params.social.instagram }}'>
                    <i class='fab fa-instagram' style='margin:0 2rem'></i>
                </a>
            </div>
        </div>
    </div>
    <div style='font-size:0.7rem' class='sea-bar sea-dark sea-caps'>
        <div class='sea-grid'>
            <a href='{{ .Site.Params.source }}'>
                <p class='sea-hover-text-accent sea-bar-item sea-center' style='height:100%'>&#169; {{ .Site.LastChange.Format "2006" }} {{ .Site.Title }} Powered by Hugo on Gitlab</p>
            </a>
            <div id='footer-logo' class='sea-bar-item-right'>
                <a href='{{ .Site.BaseURL }}'><img src='/favicon.png' style='margin:1.5rem 0.5rem;height:4rem'></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
