<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{{ .Title | default .Site.Title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='{{ .Params.description | default .Site.Params.description }}'>
    <meta name='author' content='{{ .Site.Params.author }}'>
    <base href='{{ .Site.BaseURL }}'>
    <link href="https://fonts.googleapis.com/css?family=Sacramento|Source+Code+Pro|Mr+Dafoe|PT+Serif:400,400i,700,700i|Montserrat:100,300,300i,400,500,500i,600,700|Raleway:300,300i,400,400i,500,600,700,800|Roboto:100,300,300i,400,500,700" rel="stylesheet">
    <link rel='stylesheet' href='{{ "css/flickity.css" | relURL }}'>
    <link rel='stylesheet' href='{{ "css/style.css" | relURL }}'>
    <link rel='icon' type='image/png' href='{{ "pc-logo.png" | relURL }}' sizes='16x16'>
    <script src='{{ "js/flickity.pkgd.js" | relURL }}'></script>
    <script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
</head>
<body>
