<nav id='nav' class='sea-border-bottom sea-white sea-sticky sea-bar'>
    <div class='sea-grid'>
        <div id='nav-main' class='sea-hover-text-accent'>
            <a href='{{.Site.BaseURL}}'>
            <img id='nav-logo' class='sea-bar-item' style='height:var(--nav);padding:1rem 1rem 1rem 1rem' src='/favicon.png'>
            </a>
        </div>
        <li style='font-size:0.8rem' class='sea-hide-small sea-caps sea-bar-item-right sea-menu-horizontal'>
            <a href='{{ .Site.BaseURL }}'>
                <ul class='sea-border-bottom sea-border-{{cond .IsHome "accent" "transparent"}} sea-hover-border-accent' style='border-width:4px'>Home</ul>
            </a>
            <a href='#about'>
                <ul class='sea-border-bottom sea-border-transparent sea-hover-border-accent' style='border-width:4px'>About</ul>
            </a>
            <a href='#contact'>
                <ul class='sea-border-bottom sea-border-transparent sea-hover-border-accent' style='border-width:4px'>Contact</ul>
            </a>
            <a href='#'>
                <ul class='sea-border-bottom sea-border-transparent sea-hover-border-accent' style='border-width:4px'>Search</ul>
            </a>
        </li>
            <a style='cursor:pointer' onclick='nav_open()'>
        <div id='hamburger' class='sea-hide-large sea-hide-medium sea-bar-item-right sea-hover-text-accent' style='z-index:10;padding: 2rem;font-size:1.5rem'>
            <i class="fas fa-bars"></i>
        </div>
            </a>
        <div onclick='nav_close()' id='nav-responsive' class='sea-light sea-animate-right sea-table' style='display:none;position:fixed;top:0;left:0;height:100vh;width:100vw;'>
            <div class='sea-table-row'>
                <div class='sea-center sea-cell-middle sea-full'>
                    <a href='{{ .Site.BaseURL }}'><div class='sea-animate-right sea-delay-1 sea-hover-text-accent sea-text-{{ cond .IsHome "accent" "dark" }} sea-padding'>Home</div></a>
                    <a href='#about'><div class='sea-animate-right sea-delay-1_5 sea-hover-text-accent sea-text-dark sea-padding'>About</div></a>
                    <a href='#contact'><div class='sea-animate-right sea-delay-2 sea-hover-text-accent sea-text-dark sea-padding'>Contact</div></a>
                    <a href='#'><div class='sea-animate-right sea-delay-2_5 sea-hover-text-accent sea-text-dark sea-padding'>Search</div></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    function nav_open() {
        document.getElementById("nav-responsive").style.display = "table";
    }
function nav_close() {
    document.getElementById("nav-responsive").style.display = "none";
}
</script>
