{{ partial "header.html" . }}
<header class='sea-display sea-animate-opacity sea-parallax' style='background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ (.Resources.GetMatch (printf "%s*" .Params.banner)).RelPermalink }})' id='entete'>
    <div class='sea-center sea-display-center'>
        <img src='/favicon.png' style='height:15rem;width:auto'>
        <div class='sea-text-white sea-serif italic sea-narrow sea-text-shadow' style='padding-top:3rem;font-size:2rem'>{{ .Params.subtitle }}</div>
    </div>
</header>
{{ partial "nav.html" . }}
<main class='sea-white sea-animate-opacity'>
    <div class='sea-bar sea-light'>
        <div class='sea-grid'>
            <li class='sea-padding sea-menu-horizontal sea-center'>
                <a id='filter-all' onclick='filterSelection("all")' class='sea-filter-btn' class='bold sea-text-accent' style='cursor:pointer'>
                    <ul style='animation-delay:000ms;font-size:0.8rem' class='sea-animate-right sea-caps'>All</ul>
                </a>
                {{ range $txname, $tx := .Site.Taxonomies }}
                {{ if eq $txname "categories" }}
                {{ range $category, $v := $tx }}
                <a id='filter-{{$category | urlize}}' style='cursor:pointer' class='sea-filter-btn' onclick='filterSelection("{{$category | urlize}}")'>
                    <ul style='animation-delay:400ms;font-size:0.8rem' class='sea-hover-text-bold sea-animate-right sea-hover-text-accent sea-caps'>{{$category}}</ul>
                </a>
                {{ end }}
                {{ end }}
                {{ end }}
            </li>
        </div>
    </div>
    <section id='grid' class='sea-grid sea-padding'>
        <div class='sea-row-pad'>
            {{- range $i, $e := where .Data.Pages "Type" "post" }}
            {{ if eq (mod $i 3) 0 }}<!--div class="sea-row-pad sea-center"-->{{ end }}
            {{- $original := (.Resources.GetMatch (printf "%s*" .Params.banner)) }}
            {{- $iM := ($original.Fill "720x600") }}
            <a href='{{ .Permalink | relURL }}'>
                <div class='sea-gallery {{range .Params.categories}}cat-{{. | urlize}} {{end}} sea-col s4 sea-hoverable' style='position:relative'>
                    <img class='sea-overimg' style='height:600px;width:100%;object-fit:cover' src='{{$iM.RelPermalink}}'>
                    <div class='sea-full' style='padding:1rem;position:absolute;top:0;left:0'>
                        <div class='sea-overlay sea-accent sea-full sea-outline-inner'></div>
                    </div>
                    <div class='sea-overtext sea-table sea-full' style='height:600px;position:absolute;top:0;left:0'>
                        <div class='sea-cell-middle sea-full sea-container'>
                            <h1 class='sea-text-light sea-center' style='margin:0;font-size:2rem'>{{ .Title }}</h1>
                            <p style='font-size:0.8rem;margin-bottom:3rem' class='bold sea-text-light sea-center'>{{ .PublishDate.Format "January 2 2006" }}</p>
                            <p class='sea-text-light sea-center'>{{ .Description }}</p>
                            <hr style='width:6rem;margin-top:1rem;margin-bottom:0'>
                        </div>
                    </div>

                </div>
            </a>
            {{ if eq (mod $i 3) 2 }}<!--/div-->{{ end }}
            {{- end }}
        </div>
    </section>
    {{ partial "about.html" . }}
</main>
{{ partial "footer.html" . }}
<script>
function filterSelection(c) {
    console.log("filter-"+c);
    var x, i, y, j;
    x = document.getElementsByClassName("sea-gallery");
    y = document.getElementsByClassName("sea-filter-btn");
    for (j = 0; j < y.length; j++) {
        y[j].classList.remove("sea-text-accent");
        y[j].classList.remove("bold");
    }
    document.getElementById("filter-"+c).classList.add("sea-text-accent");
    document.getElementById("filter-"+c).classList.add("bold");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
}

// Show filtered elements
function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
        }
    }}
// Hide elements that are not selected
function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
    }
    element.className = arr1.join(" ");
}
filterSelection("all")
</script>
